p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 25px;
    font-weight: bold;
    background-color: lightyellow;
    // border: 1px dotted gray;
    margin: 10px;
}

section {
    background-color: lightyellow;
    border: 1px dotted gray;
}